In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def read_files(directory):
    dfs, names = [], []
    for i, file in enumerate(sorted(os.listdir(directory))):
        names.append(file)
        if file.endswith('.hdf'):
            df = pd.read_hdf(os.path.join(directory, file))
        elif file.endswith('.parquet'):
            df = pd.read_parquet(os.path.join(directory, file))
        else:
            raise ValueError(f'Unknown file format: {file}')

        if i == 0:
            columns = df.columns
            print(df.info(), end='\n\n')
            print(df.head(10), end='\n\n')
        else:
            assert np.all(df.columns == columns)

        dfs.append(df)
    return dfs, names


def get_info(dfs, names):
    for df, name in zip(dfs, names):
        print(f'{name}: len={len(df)}')
        min_ts = pd.to_datetime(df['TIMESTAMP_VALUE'].min(), unit='ms')
        max_ts = pd.to_datetime(df['TIMESTAMP_VALUE'].max(), unit='ms')
        print(f'{min_ts} -- {max_ts}')

        min_change_id = df['CHANGE_ID'].min()
        max_change_id = df['CHANGE_ID'].max()
        print(f'CHANGE_ID: {min_change_id} -- {max_change_id}')

        print()

In [3]:
BOOKS_RAW_DIR = '../../../data_test/books_raw'
TRADES_DIR = '../../../data_test/trades'
BOOKS_PROCESSED_DIR = '../../../data_test/books_processed'

In [4]:
books_raw_dfs, books_raw_names = read_files(BOOKS_RAW_DIR)
get_info(books_raw_dfs, books_raw_names)

<class 'pandas.core.frame.DataFrame'>
Index: 999999 entries, 0 to 999998
Data columns (total 46 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CHANGE_ID            999999 non-null  int64
 1   INSTRUMENT_INDEX     999999 non-null  int64
 2   INSTRUMENT_STRIKE    999999 non-null  float64
 3   INSTRUMENT_MATURITY  999999 non-null  int64
 4   INSTRUMENT_TYPE      999999 non-null  int64
 5   TIMESTAMP_VALUE      999999 non-null  int64
 6   BID_0_PRICE          999999 non-null  float64
 7   BID_0_AMOUNT         999999 non-null  float64
 8   BID_1_PRICE          999999 non-null  float64
 9   BID_1_AMOUNT         999999 non-null  float64
 10  BID_2_PRICE          999999 non-null  float64
 11  BID_2_AMOUNT         999999 non-null  float64
 12  BID_3_PRICE          999999 non-null  float64
 13  BID_3_AMOUNT         999999 non-null  float64
 14  BID_4_PRICE          999999 non-null  float64
 15  BID_4_AMOUNT         999999 non-null  float64
 16  BID_5_PRICE          999999 non-null  float64
 17  BID_5_AMOUNT         999999 non-null  float64
 18  BID_6_PRICE          999999 non-null  float64
 19  BID_6_AMOUNT         999999 non-null  float64
 20  BID_7_PRICE          999999 non-null  float64
 21  BID_7_AMOUNT         999999 non-null  float64
 22  BID_8_PRICE          999999 non-null  float64
 23  BID_8_AMOUNT         999999 non-null  float64
 24  BID_9_PRICE          999999 non-null  float64
 25  BID_9_AMOUNT         999999 non-null  float64
 26  ASK_0_PRICE          999999 non-null  float64
 27  ASK_0_AMOUNT         999999 non-null  float64
 28  ASK_1_PRICE          999999 non-null  float64
 29  ASK_1_AMOUNT         999999 non-null  float64
 30  ASK_2_PRICE          999999 non-null  float64
 31  ASK_2_AMOUNT         999999 non-null  float64
 32  ASK_3_PRICE          999999 non-null  float64
 33  ASK_3_AMOUNT         999999 non-null  float64
 34  ASK_4_PRICE          999999 non-null  float64
 35  ASK_4_AMOUNT         999999 non-null  float64
 36  ASK_5_PRICE          999999 non-null  float64
 37  ASK_5_AMOUNT         999999 non-null  float64
 38  ASK_6_PRICE          999999 non-null  float64
 39  ASK_6_AMOUNT         999999 non-null  float64
 40  ASK_7_PRICE          999999 non-null  float64
 41  ASK_7_AMOUNT         999999 non-null  float64
 42  ASK_8_PRICE          999999 non-null  float64
 43  ASK_8_AMOUNT         999999 non-null  float64
 44  ASK_9_PRICE          999999 non-null  float64
 45  ASK_9_AMOUNT         999999 non-null  float64
dtypes: float64(41), int64(5)
memory usage: 358.6 MB
None

   CHANGE_ID  INSTRUMENT_INDEX  INSTRUMENT_STRIKE  INSTRUMENT_MATURITY  \
0          1                 0            48000.0           1726002000
1          2                 0            48000.0           1726002000
2          3                 0            49000.0           1726002000
3          4                 0            49000.0           1726002000
4          5                 0            50000.0           1726002000
5          6                 0            50000.0           1726002000
6          7                 0            51000.0           1726002000
7          8                 0            51000.0           1726002000
8          9                 0            51500.0           1726002000
9         10                 0            51500.0           1726002000

   INSTRUMENT_TYPE  TIMESTAMP_VALUE  BID_0_PRICE  BID_0_AMOUNT  BID_1_PRICE  \
0                5    1725970692950         -1.0          -1.0         -1.0
1                6    1725970692950         -1.0          -1.0         -1.0
2                5    1725970692950         -1.0          -1.0         -1.0
3                6    1725970692950         -1.0          -1.0         -1.0
4                5    1725970692950         -1.0          -1.0         -1.0
5                6    1725970692950         -1.0          -1.0         -1.0
6                5    1725970692950         -1.0          -1.0         -1.0
7                6    1725970692950         -1.0          -1.0         -1.0
8                5    1725970692950         -1.0          -1.0         -1.0
9                6    1725970692950         -1.0          -1.0         -1.0

   BID_1_AMOUNT  ...  ASK_5_PRICE  ASK_5_AMOUNT  ASK_6_PRICE  ASK_6_AMOUNT  \
0          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
1          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
2          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
3          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
4          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
5          -1.0  ...       0.0039           0.1        0.022           0.2
6          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
7          -1.0  ...       0.0009         104.8        0.022           0.2
8          -1.0  ...      -1.0000          -1.0       -1.000          -1.0
9          -1.0  ...       0.0009           9.0        0.001         104.7

   ASK_7_PRICE  ASK_7_AMOUNT  ASK_8_PRICE  ASK_8_AMOUNT  ASK_9_PRICE  \
0         -1.0          -1.0         -1.0          -1.0         -1.0
1         -1.0          -1.0         -1.0          -1.0         -1.0
2         -1.0          -1.0         -1.0          -1.0         -1.0
3         -1.0          -1.0         -1.0          -1.0         -1.0
4         -1.0          -1.0         -1.0          -1.0         -1.0
5         -1.0          -1.0         -1.0          -1.0         -1.0
6         -1.0          -1.0         -1.0          -1.0         -1.0
7         -1.0          -1.0         -1.0          -1.0         -1.0
8         -1.0          -1.0         -1.0          -1.0         -1.0
9         -1.0          -1.0         -1.0          -1.0         -1.0

   ASK_9_AMOUNT
0          -1.0
1          -1.0
2          -1.0
3          -1.0
4          -1.0
5          -1.0
6          -1.0
7          -1.0
8          -1.0
9          -1.0

[10 rows x 46 columns]

books0001.hdf: len=999999
2024-09-10 12:18:12.950000 -- 2024-09-10 13:01:54.525000
CHANGE_ID: 1 -- 999999

books0002.hdf: len=1000000
2024-09-10 13:01:53.427000 -- 2024-09-10 13:32:30.578000
CHANGE_ID: 1000000 -- 1999999

books0003.hdf: len=1000000
2024-09-10 13:32:30.030000 -- 2024-09-10 13:52:32.203000
CHANGE_ID: 2000000 -- 2999999

In [5]:
trades_dfs, trades_names = read_files(TRADES_DIR)
get_info(trades_dfs, trades_names)

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CHANGE_ID            1000000 non-null  int64
 1   TIMESTAMP_VALUE      1000000 non-null  int64
 2   TRADE_ID             1000000 non-null  int64
 3   PRICE                1000000 non-null  float64
 4   INSTRUMENT_INDEX     1000000 non-null  int64
 5   INSTRUMENT_STRIKE    1000000 non-null  float64
 6   INSTRUMENT_MATURITY  1000000 non-null  int64
 7   INSTRUMENT_TYPE      1000000 non-null  int64
 8   DIRECTION            1000000 non-null  int64
 9   AMOUNT               1000000 non-null  float64
dtypes: float64(3), int64(7)
memory usage: 83.9 MB
None

   CHANGE_ID  TIMESTAMP_VALUE   TRADE_ID    PRICE  INSTRUMENT_INDEX  \
0   62000000    1726843534430  217605158  2553.15                 1
1   62000001    1726843534952  217605169  2556.75                 1
2   62000002    1726843534913  217605159  2594.00                 1
3   62000003    1726843534913  217605160  2594.00                 1
4   62000004    1726843534915  217605161  2594.00                 1
5   62000005    1726843534916  217605162  2594.00                 1
6   62000006    1726843534919  217605163  2594.00                 1
7   62000007    1726843534921  217605164  2594.00                 1
8   62000008    1726843534922  217605165  2594.00                 1
9   62000009    1726843534922  217605166  2594.00                 1

   INSTRUMENT_STRIKE  INSTRUMENT_MATURITY  INSTRUMENT_TYPE  DIRECTION  AMOUNT
0               -1.0                   -1                7          1   300.0
1               -1.0           1727384400                1          1   425.0
2               -1.0           1735246800                1          1    10.0
3               -1.0           1735246800                1          1    90.0
4               -1.0           1735246800                1          1   181.0
5               -1.0           1735246800                1          1   100.0
6               -1.0           1735246800                1          1   100.0
7               -1.0           1735246800                1          1   100.0
8               -1.0           1735246800                1          1    59.0
9               -1.0           1735246800                1          1   100.0

trades0001.hdf: len=1000000
2024-09-20 14:45:34.430000 -- 2024-09-26 23:11:41.058000
CHANGE_ID: 62000000 -- 62999999

trades0002.hdf: len=1000000
2024-09-26 23:04:30.313000 -- 2024-10-02 15:06:23.143000
CHANGE_ID: 63000000 -- 63999999

trades0003.hdf: len=962996
2024-10-02 15:05:05.330000 -- 2024-10-08 19:59:55.886000
CHANGE_ID: 64000000 -- 64962995

In [6]:
books_processed_dfs, books_processed_names = read_files(BOOKS_PROCESSED_DIR)

<class 'pandas.core.frame.DataFrame'>
Index: 999710 entries, 0 to 999709
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   instrument_id     999710 non-null  int64
 1   strike            999710 non-null  float64
 2   maturity          999710 non-null  int64
 3   instrument_type   999710 non-null  int64
 4   timestamp         999710 non-null  int64
 5   best_bid_price    999710 non-null  float64
 6   best_ask_price    999710 non-null  float64
 7   bid_amount_total  999710 non-null  float64
 8   ask_amount_total  999710 non-null  float64
 9   bid_vwap          999710 non-null  float64
 10  ask_vwap          999710 non-null  float64
dtypes: float64(7), int64(4)
memory usage: 91.5 MB
None

   instrument_id   strike    maturity  instrument_type      timestamp  \
0              0  48000.0  1726002000                5  1725970692950
1              0  51500.0  1726002000                6  1725970692950
2              0  51000.0  1726002000                6  1725970692950
3              0  51000.0  1726002000                5  1725970692950
4              0  50000.0  1726002000                6  1725970692950
5              0  51500.0  1726002000                5  1725970692950
6              0  49000.0  1726002000                6  1725970692950
7              0  49000.0  1726002000                5  1725970692950
8              0  48000.0  1726002000                6  1725970692950
9              0  50000.0  1726002000                5  1725970692950

   best_bid_price  best_ask_price  bid_amount_total  ask_amount_total  \
0          0.1610          0.1650              70.0              70.0
1          0.0001          0.0002              17.5             164.7
2         -1.0000          0.0002               0.0             176.8
3          0.1090          0.1130              70.0              70.0
4         -1.0000          0.0001               0.0             170.4
5          0.1000          0.1045              70.8              70.0
6         -1.0000          0.0001               0.0             160.9
7          0.1435          0.1470              70.0              70.0
8         -1.0000          0.0001               0.0             161.8
9          0.1265          0.1305              70.0              70.0

   bid_vwap  ask_vwap
0  0.161000  0.165000
1  0.000100  0.000852
2 -1.000000  0.000748
3  0.109000  0.113000
4 -1.000000  0.000665
5  0.098871  0.104500
6 -1.000000  0.000672
7  0.143500  0.147000
8 -1.000000  0.000591
9  0.126500  0.130500